.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding-inline: 3rem;
  padding: 2rem;
  justify-content: start;
  min-height: 100%;
}

.flagContainer {
  background-color: inherit;
  perspective: 900px;
}
.flag {
  width: 320px;
  height: 200px;
  transform-origin: center;
  border-radius: 0.2rem 0.3rem 0.3rem 0.2rem;
  animation: wave 5s infinite ease-in-out alternate-reverse;
}

@keyframes wave {
  0% {
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, -12deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate3d(0, 1, 0, 25deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .flag {
    animation: none;
  }
}
.name {
  font-size: 1rem;
  font-weight: 800;
  padding-block: 0.5rem;
  letter-spacing: 1px;
}

.detail,
.info {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.17rem;
  letter-spacing: 1px;
}

.info {
  font-size: 0.5rem;
  font-weight: 300;
}
.about-country {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.backBtn,
.borderBtn {
  width: fit-content;
  border-radius: 2px;
  border: none;
  outline: none;
  text-align: center;
  background-color: blueviolet;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  letter-spacing: 1.2px;
  box-shadow: 0px 2px 9px 0px black;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: all 200ms ease-in-out;
}
.borderBtn {
  width: fit-content;
  padding-inline: 5px;
  padding-block: 2px;
}
.borderBtn:hover,
.backBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 1px 0.51px red;
}
.borderHolder,
.borderList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}
.borderList {
  flex-direction: row;
}
.borderList li {
  list-style: none;
}
/* back arrow svg style */
.lightArrow {
  fill: rgb(0, 0, 0);
}
.darkArrow {
  fill: rgb(249, 244, 244);
}
.lightMode {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
}
.darkMode {
  color: white;
  background-color: hsl(207, 26%, 17%);
}

@media (min-width: 700px) {
  .flagContainer::after {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    box-shadow: 2px 2px 4px black;
    border-radius: 1rem 1rem 1rem 1rem;
    height: clamp(20rem, 410px, 25vw);
    background-color: pink;
    background-image: linear-gradient(
      to bottom right,
      rgb(59, 226, 3),
      yellow,
      rgb(226, 2, 2)
    );
    z-index: -1;
  }
  .detail-holder {
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  .first-info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .about-country {
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
  }
  .borderHolder,
  .borderList {
    flex-direction: row;
    align-items: center;
  }
  .borderList {
    padding: 0;
  }
}
