.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 0.5rem;
  box-shadow: 2px 2px 5px black;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.logo {
  font-size: 1rem;
  font-weight: 700;
}
.themeBtn {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
}

.lightMoon {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
  stroke-width: 2.5rem;
  stroke-opacity: 1;
}
.darkMoon {
  fill: rgb(255, 255, 255);
  stroke: black;
  stroke-width: 0;
}
.lightMode {
  background-color: hsl(0, 0%, 100%);

  color: hsl(200, 15%, 8%);
}
.darkMode {
  background-color: hsl(209, 23%, 22%);
  color: white;
}
