.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 150px;
  padding: 0.5rem;
  border-radius: 0.3rem;

  background-color: rgb(228, 226, 226);
}
.linkButton {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  background-color: red;
}

.linkButton::after {
  content: "";
  position: absolute;
  background: linear-gradient(transparent, rgb(255, 4, 4), transparent);

  width: 2px;
  top: 50%;
  left: -2px;
  transition: top 500ms ease, opacity 600s ease, height 600s ease;
}
.linkButton:hover::after {
  top: 3%;
  opacity: 1;
  height: 180px;
}
.linkHolder {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  color: black;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.link > span {
  font-size: 0.7rem;
  letter-spacing: 1.2px;
  font-weight: 900;
  color: grey;
  font-family: "Saira";
  padding-block: 0.5rem;
}
.link:hover span {
  color: rgb(105, 0, 115);
}

.productLinkImage,
.productLinkImage > img {
  position: absolute;
  top: -15%;
  left: 10%;
  z-index: 4;
  width: 160px;
  aspect-ratio: 1;
}
.shopLink {
  padding: 0.7rem;
  border: none;
  outline: none;
  color: rgb(135, 126, 111);
}
.shopLink:focus {
  border: 2px solid black;
}
.productName {
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Saira";
  letter-spacing: 1.2px;
}
.shopSvg {
  width: 16px;
  aspect-ratio: 1;
  fill: none;
  stroke-width: 3px;
  stroke: rgb(149, 97, 0);
}
.link:hover .shopSvg {
  stroke: green;
}
@media (min-width: 500px) {
  .card {
    width: 150px;
    height: 160px;
  }
  .productLinkImage > img {
    width: 180px;
    left: -15%;
  }
}
