.flexRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer {
  padding-inline: 2rem;
  background-color: black;
  margin-top: 4rem;
}
.nav,
.links,
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
  transition: all 1s ease;
}
.aboutCompany {
  font-family: "Teko";
  font-weight: 400;
  color: antiquewhite;
  letter-spacing: 2px;
  font-size: 1rem;
  word-wrap: break-word;
  line-height: 1.2rem;
  text-align: center;
  transition: all 2.5s ease;
  padding-block: 1rem;
}
footer:before {
  content: "";
  width: 100px;
  height: 10px;
  background-color: rgb(197, 92, 0);
}
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}
.tgLogo,
.xLogo {
  width: 35px;
  aspect-ratio: 1;
  stroke-width: 0.5rem;
}
.tgLogo:hover {
  fill: rgb(0, 123, 176);
}
.xLogo:hover {
  fill: rgb(0, 4, 255);
}
@media (min-width: 500px) {
  .flexRow {
    flex-wrap: nowrap;
  }
  .socialMedia {
    width: 30%;
    height: 200px;
    align-items: flex-end;
  }

  footer,
  .nav {
    align-items: start;
  }
  footer {
    padding-left: 0.5rem;
  }
  .links {
    flex-direction: row;
  }
  .aboutCompany {
    text-align: justify;
    width: 90%;
  }
}
@media (min-width: 760px) {
  .nav {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .socialMedia {
    align-items: center;
  }
  .aboutCompany {
    width: 100%;
  }
  .companyParHolder {
    padding: 1rem;
    width: 50%;
  }
  .companyInfo {
    justify-content: space-between;
  }
}
